Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Smartcity",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3360,
        -560
      ],
      "id": "dd83a51e-5eae-4b33-b69a-78718cb7227a",
      "name": "Webhook",
      "webhookId": "5423d564-cf44-4cb9-b8fe-5c6825bce53f"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener el texto crudo de Gemini\nconst rawText = $input.first().json.output;\n\n// 2. Limpiar los caracteres de markdown (```json y ```)\nconst cleanText = rawText.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n\n// 3. Convertir el texto a un objeto JSON real\nconst parsedJson = JSON.parse(cleanText);\n\n// 4. Retornar el JSON limpio\nreturn { json: parsedJson };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        -1008
      ],
      "id": "22e62304-9717-4900-8347-3fd0eb4ffc24",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea33a3b3-5488-416d-8066-26deb5887bc1",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -928,
        -704
      ],
      "id": "7f4295fd-9208-41de-a521-c7655deb4063",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2048,
        432
      ],
      "id": "9b737972-fb50-470e-8d93-4d33ad9a3f94",
      "name": "Dashboard",
      "webhookId": "2fe47d52-e2e0-45a0-8f85-2c86f4278cd9"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lABNk0j1hst7z87n6jGGqsQuklgyNEA0w28lDuBM450/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ticket  ID",
              "lookupValue": "={{ $json.body.caseId }}"
            },
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1616,
        560
      ],
      "id": "10edcdee-4774-4648-b38b-ea43f965fb9b",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wP2Sji3UjJeqMyBR",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1184,
        576
      ],
      "id": "f7bedb96-16a9-48fd-a77a-94f061c317fd",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "683e98d0-8475-4ca8-883a-173a15ce453c",
              "name": "caseId",
              "value": "={{ $json['Ticket  ID'] }}",
              "type": "string"
            },
            {
              "id": "06ef9006-0a78-465e-aac9-f31bbbf71f92",
              "name": "Nombre",
              "value": "={{ $json.Nombre }}",
              "type": "string"
            },
            {
              "id": "003d38aa-cf4b-46b5-a855-22d974aa048a",
              "name": "Apellido",
              "value": "={{ $json.Apellido }}",
              "type": "string"
            },
            {
              "id": "630ede63-2109-4af7-bf2c-a21f03217660",
              "name": "Descripción",
              "value": "={{ $json['Descripción'] }}",
              "type": "string"
            },
            {
              "id": "e230c122-a8d4-45d6-b041-3d31d51d5d9a",
              "name": "Categoría",
              "value": "={{ $json['Categoría'] }}",
              "type": "string"
            },
            {
              "id": "3e56f3c4-e956-49a2-b317-ae423476f861",
              "name": "Prioridad",
              "value": "={{ $json.Prioridad }}",
              "type": "string"
            },
            {
              "id": "28102a11-c49a-4332-af8e-a75d02ccf54f",
              "name": "Latitud",
              "value": "={{ $json.Latitud }}",
              "type": "number"
            },
            {
              "id": "f510e5f8-9a24-467c-9db4-1113f6d509d5",
              "name": "Longitud",
              "value": "={{ $json.Longitud }}",
              "type": "number"
            },
            {
              "id": "9e5751d2-3165-4544-8755-60abff303817",
              "name": "Confianza",
              "value": "={{ $json.Confianza }}",
              "type": "number"
            },
            {
              "id": "426d26b6-82a1-41da-9cbe-dfe9e3ab0c9f",
              "name": "status",
              "value": "={{ $json['Estado Actual'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        576
      ],
      "id": "1d0d7bea-d2db-4629-b9c9-20b2000eb32f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "179ba641-7926-4215-9721-ebcf97cf2a46",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "actualizar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1856,
        432
      ],
      "id": "f95291a2-eff9-47f8-8faa-bde785d63ea0",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lABNk0j1hst7z87n6jGGqsQuklgyNEA0w28lDuBM450/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado Actual": "={{ $json.body.status }}"
          },
          "matchingColumns": [
            "Estado Actual"
          ],
          "schema": [
            {
              "id": "Ticket  ID",
              "displayName": "Ticket  ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Apellido",
              "displayName": "Apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Latitud",
              "displayName": "Latitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Longitud",
              "displayName": "Longitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Confianza",
              "displayName": "Confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Spam",
              "displayName": "Spam",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado Actual",
              "displayName": "Estado Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1600,
        368
      ],
      "id": "79bad3f5-8e36-4c0c-a00a-9dc122ddc686",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wP2Sji3UjJeqMyBR",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza esta imagen de infraestructura urbana y sus descripción: \"{{ $json.body.description }}\" \n\nResponde ÚNICAMENTE con JSON:\n{\n\"Categoria\": \"string\",\n\"Prioridad\": \"Crítica\" o \"Moderada\" o \"Baja\",\n\"Confianza\": 0-100,\n\"es_spam\": true/false\n} ",
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2736,
        -848
      ],
      "id": "ed402e54-6df7-40a5-abb2-dbf5df1932a4",
      "name": "AI Agent",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "google/gemma-4-31b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2736,
        -672
      ],
      "id": "93f615c3-20af-4d98-9599-6dd2209f34e4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "57XBYmGk5uoupylh",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lABNk0j1hst7z87n6jGGqsQuklgyNEA0w28lDuBM450/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket  ID": "={{ $json['Ticket ID'] }}",
            "Nombre": "={{ $json.Nombre }}",
            "Apellido": "={{ $json.Apellido }}",
            "Email": "={{ $json.Email }}",
            "Teléfono": "={{ $json['Teléfono'] }}",
            "Descripción": "={{ $json['Descripción'] }}",
            "Latitud": "={{ $json.Latitud }}",
            "Longitud": "={{ $json.Longitud }}",
            "Categoría": "={{ $('Code in JavaScript').item.json.Categoria }}",
            "Prioridad": "={{ $('Code in JavaScript').item.json.Prioridad }}",
            "Confianza": "={{ $('Code in JavaScript').item.json.Confianza }}",
            "Spam": "={{ $('Code in JavaScript').item.json.es_spam }}",
            "Dirección": "={{ $json['Dirección'] }}"
          },
          "matchingColumns": [
            "Ticket  ID"
          ],
          "schema": [
            {
              "id": "Ticket  ID",
              "displayName": "Ticket  ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Apellido",
              "displayName": "Apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dirección",
              "displayName": "Dirección",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Latitud",
              "displayName": "Latitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Longitud",
              "displayName": "Longitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Confianza",
              "displayName": "Confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spam",
              "displayName": "Spam",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado Actual",
              "displayName": "Estado Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1296,
        -560
      ],
      "id": "69dcc5cb-c5ad-4e31-aa77-5fd0ca1de091",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wP2Sji3UjJeqMyBR",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1664,
        -560
      ],
      "id": "5d79e638-e07c-4492-a8a3-4d365d15a673",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger3').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "4da9a417-bed6-41a5-a800-1e05fcf6bba1",
      "name": "Mostrar Estado y Preguntar1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1648,
        -240
      ],
      "webhookId": "9197f6da-7b07-42c7-a888-5c53a3d5f0dc",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "e1c831e4-489f-4a1f-8558-bd60eca555ff",
      "name": "Telegram Trigger3",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2896,
        -128
      ],
      "webhookId": "telegram-webhook-001",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7832436849",
        "text": "Felicidades! Tu reporte ha sido anexado exitosamente",
        "replyMarkup": "={{ $json['Teléfono'] }}",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -624,
        -848
      ],
      "id": "3eb88fd9-ac56-46a6-8bdb-7f9180138a2b",
      "name": "Send a text message",
      "webhookId": "d2ad1f4a-a641-438f-b099-6aff6c968810",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1JKmi6p2tBdasKlr9nXp_rGqwMQyKspRo0zb7NKJmhZc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ticket  ID",
              "lookupValue": "={{ $json.data['Correo/ID'] }}"
            },
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.data['Correo/ID'] }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2464,
        -128
      ],
      "id": "6ca169bf-2014-4d10-b920-334b3c2b77eb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wP2Sji3UjJeqMyBR",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition_exists",
              "leftValue": "={{ $json['Ticket  ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4adc3b76-a995-4449-bf38-e4f56a4e7ce2",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "8d6717a5-a3d3-4b57-a00f-adc3f6d8c50b",
      "name": "¿Existe ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2192,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.message.from.id }}",
        "message": "👋 Hola! Por favor ingresa tu *correo electrónico* o tu *ID de reporte* para consultar el estado de tus reportes:",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Correo/ID",
              "placeholder": "correo@email.com / AMB-2026...",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "95b700b3-d2a1-4e84-8b8c-8d68e8f4f0cc",
      "name": "Pedir info",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2672,
        -128
      ],
      "webhookId": "ca51b802-2231-4a7a-af8d-0026a5eb5b26",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger3').item.json.message.chat.id }}",
        "text": "❌ No encontramos ningún reporte asociado a ese correo/ID.\n\nVerifica que el correo sea correcto o contacta a soporte.",
        "additionalFields": {}
      },
      "id": "9b2fec47-44bf-4c98-bba2-383ba8e6632a",
      "name": "No encontrado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1872,
        -48
      ],
      "webhookId": "c390c667-cdd1-41ba-b645-dc8ff8bb32bb",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst reports = items.map(item => item.json);\n\nif (reports.length === 0) {\n  return [{ \n    json: { \n      message: \"❌ No se encontraron reportes asociados a ese ID.\" \n    } \n  }];\n}\n\nlet response = \"📋 *ESTADO DEL REPORTE*\\n\\n\";\n\nreports.forEach(report => {\n  // Ajusta estos nombres según tus columnas exactas en Google Sheets\n  const ticket = $input.first().json['Ticket  ID'] || report.ticket_id || \"N/A\";\n  const tipoDaño = $input.first().json['Categoría'] || report.tipo_daño || \"N/A\";\n  const severidad = $input.first().json.Prioridad || report.severidad || \"N/A\";\n  const estado = $input.first().json['Estado Actual'] || report.estado || \"N/A\";\n  const ubicacion = $input.first().json['Dirección'] || report.ubicacion || \"N/A\";\n  \n  response += `🎟 *Ticket:* ${ticket}\\n`;\n  response += `📍 *Ubicación:* ${ubicacion}\\n`;\n  response += `⚠️ *Daño:* ${tipoDaño}\\n`;\n  response += `🔴 *Severidad:* ${severidad}\\n`;\n  response += `🔄 *Estado:* ${estado}\\n\\n`;\n});\n\nreturn [{ \n  json: { \n    message: response,\n    reportData: reports[0] // Mantiene los datos originales si los necesitas después\n  } \n}];"
      },
      "id": "944f12f2-6f9d-4e0f-a31d-2f4d1f2c32d9",
      "name": "Organizar estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        -240
      ]
    },
    {
      "parameters": {
        "chatId": "7832436849",
        "text": "Alerta! Ocurrió un problema al ingresar los datos, verifica y repite el proceso nuevamente",
        "replyMarkup": "={{ $json['Teléfono'] }}",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -608,
        -672
      ],
      "id": "f6fa4b24-0cfc-41f5-87b6-3b8e97b3fea3",
      "name": "Send a text message2",
      "webhookId": "d2ad1f4a-a641-438f-b099-6aff6c968810",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Supongamos que el base64 viene en:\n// $json.imageBase64\n\nconst base64Image = $json.imageBase64;\n\n// Eliminar prefijo si existe (data:image/png;base64,...)\nconst cleanBase64 = base64Image.replace(/^data:image/\\w+;base64,/, '');\n\nreturn [\n  {\n    json: {},\n    binary: {\n      image: {\n        data: cleanBase64,\n        mimeType: 'image/png',\n        fileName: 'imagen.png',\n      },\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3088,
        -880
      ],
      "id": "5262bddf-09dc-45c9-914b-67983660d151",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2944,
        -720
      ],
      "id": "f7b9e5ff-1e8e-47c8-9fb0-51da314e2de2",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lABNk0j1hst7z87n6jGGqsQuklgyNEA0w28lDuBM450/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lABNk0j1hst7z87n6jGGqsQuklgyNEA0w28lDuBM450/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket  ID": "={{ $json.reportId }}",
            "Estado Actual": "PENDIENTE - FALLO TÉCNICO",
            "Nombre": "={{ $json.firstName }}",
            "Apellido": "={{ $json.firstLastName }}",
            "Email": "={{ $json.email }}",
            "Descripción": "={{ $json.description }}",
            "Teléfono": "={{ $json.phone }}",
            "Dirección": "={{ $json['dirección'] }}",
            "Latitud": "={{ $json.latitude }}",
            "Longitud": "={{ $json.longitude }}",
            "Categoría": "N/A (FALLO DE PROCESAMIENTO)",
            "Prioridad": "N/A (FALLO DE PROCESAMIENTO)",
            "Confianza": "N/A (FALLO DE PROCESAMIENTO)",
            "Spam": "N/A (FALLO DE PROCESAMIENTO)"
          },
          "matchingColumns": [
            "Ticket  ID"
          ],
          "schema": [
            {
              "id": "Ticket  ID",
              "displayName": "Ticket  ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellido",
              "displayName": "Apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dirección",
              "displayName": "Dirección",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitud",
              "displayName": "Latitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitud",
              "displayName": "Longitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confianza",
              "displayName": "Confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Spam",
              "displayName": "Spam",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado Actual",
              "displayName": "Estado Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2384,
        -816
      ],
      "id": "60a3bb6f-8693-4833-9324-2d2203d6286e",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wP2Sji3UjJeqMyBR",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1120,
        -704
      ],
      "id": "decfc3a4-1788-488f-8f1c-f06cf38a30af",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d222b0f3-fd66-4bb1-9c79-06a75dbf2da5",
              "name": "Ticket  ID",
              "value": "={{ $json['Ticket  ID'] }}",
              "type": "string"
            },
            {
              "id": "4661d106-edcd-4e0d-b229-4a510448f67d",
              "name": "Estado Actual",
              "value": "={{ $json['Estado Actual'] }}",
              "type": "string"
            },
            {
              "id": "fffb6b48-33e3-4467-805d-551e3512f435",
              "name": "Error",
              "value": "Fallo Critico, El AutoProcesamiento Fallo por la tanto el reporte tiene que esperar por procesamiento manual.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2144,
        -880
      ],
      "id": "4374ec91-55c2-44c3-95bd-9ae73ff305be",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19d6d4c2-d299-49c3-add6-2712a57bcbb4",
              "name": "Ticket ID",
              "value": "={{ $json.body.reportId }}",
              "type": "string"
            },
            {
              "id": "18078a2f-2c4c-4cbb-8359-5eac76966e48",
              "name": "Nombre",
              "value": "={{ $json.body.firstName }}",
              "type": "string"
            },
            {
              "id": "4d31ecb6-8360-4a0a-8053-ace73e74ebf9",
              "name": "Apellido",
              "value": "={{ $json.body.firstLastName }}",
              "type": "string"
            },
            {
              "id": "167c18c8-3737-474a-b378-95dba7b595b1",
              "name": "Email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "ac2832b1-70cd-4a05-bd34-be7f817fd472",
              "name": "Teléfono",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "0cf52278-29a5-4128-8d4a-255048cad632",
              "name": "Descripción",
              "value": "={{ $json.body.description }}",
              "type": "string"
            },
            {
              "id": "04f61231-f986-4c43-8ea2-df558939168f",
              "name": "Dirección",
              "value": "={{ $json.body['dirección'] }}",
              "type": "string"
            },
            {
              "id": "bf9a85c1-390e-4a36-8087-e11c4729566d",
              "name": "Latitud",
              "value": "={{ $json.body.latitude }}",
              "type": "string"
            },
            {
              "id": "b1c8208b-c5f0-4f9a-b944-f698f0045eeb",
              "name": "Longitud",
              "value": "={{ $json.body.longitude }}",
              "type": "string"
            },
            {
              "id": "288c95d8-9da0-4cbd-b305-d5821e1fee6e",
              "name": "Categoría",
              "value": "={{ $json.Categoria }}",
              "type": "string"
            },
            {
              "id": "4c4b8cfc-897d-4157-9b71-664e610e0059",
              "name": "Prioridad",
              "value": "={{ $json.Prioridad }}",
              "type": "string"
            },
            {
              "id": "677ddee2-2f30-4e36-b174-f6b77e500b42",
              "name": "Confianza",
              "value": "={{ $json.Confianza }}",
              "type": "number"
            },
            {
              "id": "f4cc09c8-6e21-41f3-bd23-16021d57f48e",
              "name": "Spam",
              "value": "={{ $json.es_spam }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        -560
      ],
      "id": "668c426f-427a-4af6-9cfb-c01ac0a9a266",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d222b0f3-fd66-4bb1-9c79-06a75dbf2da5",
              "name": "Ticket  ID",
              "value": "={{ $json['Ticket  ID'] }}",
              "type": "string"
            },
            {
              "id": "4661d106-edcd-4e0d-b229-4a510448f67d",
              "name": "Estado Actual",
              "value": "={{ $json['Estado Actual'] }}",
              "type": "string"
            },
            {
              "id": "fffb6b48-33e3-4467-805d-551e3512f435",
              "name": "Error",
              "value": "Fallo Critico, La base de datos Fallo por la tanto el reporte no fue guardado.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        -416
      ],
      "id": "aabec0a9-fd98-4a36-ba73-739babe8f333",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d222b0f3-fd66-4bb1-9c79-06a75dbf2da5",
              "name": "Ticket  ID",
              "value": "={{ $json['Ticket  ID'] }}",
              "type": "string"
            },
            {
              "id": "4661d106-edcd-4e0d-b229-4a510448f67d",
              "name": "Estado Actual",
              "value": "={{ $json['Estado Actual'] }}",
              "type": "string"
            },
            {
              "id": "fffb6b48-33e3-4467-805d-551e3512f435",
              "name": "Error",
              "value": "Fallo Critico, La base de datos Fallo por la tanto el reporte no fue guardado.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2144,
        -704
      ],
      "id": "3f4af672-9aca-4d81-8ce9-ddf2578640d4",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "chatId": "7832436849",
        "text": "El AutoProcesamiento de tu reporte ha fallado, tendra que ser procesado manualmente.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1936,
        -880
      ],
      "id": "9c902d2b-3827-4311-964b-e5a88589305a",
      "name": "Send a text message1",
      "webhookId": "482b6de2-d7df-42a3-a50d-1ce3ed49408f",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7832436849",
        "text": "La base de datos fallo, por lo tanto no fue guardado.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1936,
        -704
      ],
      "id": "4a3574f3-d517-4b89-9886-7ec8e94aee52",
      "name": "Send a text message3",
      "webhookId": "482b6de2-d7df-42a3-a50d-1ce3ed49408f",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7832436849",
        "text": "La base de datos ha fallado, por lo tanto tu reporte no fue guardado.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -928,
        -416
      ],
      "id": "9563ed5b-4cc3-4719-bc70-08c2c7616113",
      "name": "Send a text message4",
      "webhookId": "482b6de2-d7df-42a3-a50d-1ce3ed49408f",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7832436849",
        "text": "La base de datos ha fallado, por lo tanto tu reporte no fue guardado.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2208,
        -112
      ],
      "id": "4c5d615c-f376-4212-93a5-8cfd5d9d6e67",
      "name": "Send a text message5",
      "webhookId": "482b6de2-d7df-42a3-a50d-1ce3ed49408f",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7832436849",
        "text": "La base de datos ha fallado, por lo tanto tu reporte no fue guardado.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1344,
        384
      ],
      "id": "fa164504-7557-4a59-bc92-98605d3d0399",
      "name": "Send a text message6",
      "webhookId": "482b6de2-d7df-42a3-a50d-1ce3ed49408f",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7832436849",
        "text": "La base de datos ha fallado, por lo tanto tu reporte no fue guardado.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1392,
        768
      ],
      "id": "168715a7-9fa2-4be6-87eb-382111b321b0",
      "name": "Send a text message8",
      "webhookId": "482b6de2-d7df-42a3-a50d-1ce3ed49408f",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        384,
        -576
      ],
      "id": "74bacbf0-cf38-4ebc-ba20-ed8584f0fbe3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Smartcity",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        -576
      ],
      "id": "4998da04-867c-4fb6-96dc-567fa33c77dd",
      "name": "Webhook1",
      "webhookId": "5423d564-cf44-4cb9-b8fe-5c6825bce53f"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "d2de2bd9-e4d0-4d94-9a98-200a80eea107",
      "name": "Mostrar Estado y Preguntar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        -336
      ],
      "webhookId": "9197f6da-7b07-42c7-a888-5c53a3d5f0dc"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "6efda7f2-f231-41df-9a43-cdab8fc0ba62",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        -208
      ],
      "webhookId": "telegram-webhook-001"
    },
    {
      "parameters": {
        "chatId": "7832436849",
        "text": "Felicidades! Tu reporte ha sido anexado exitosamente",
        "replyMarkup": "={{ $json['Teléfono'] }}",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        -752
      ],
      "id": "164c2d77-638f-49cf-8de1-71b97d7f1e76",
      "name": "Send a text message9",
      "webhookId": "d2ad1f4a-a641-438f-b099-6aff6c968810"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19d6d4c2-d299-49c3-add6-2712a57bcbb4",
              "name": "Ticket ID",
              "value": "={{ $json.body.reportId }}",
              "type": "string"
            },
            {
              "id": "18078a2f-2c4c-4cbb-8359-5eac76966e48",
              "name": "Nombre",
              "value": "={{ $json.body.firstName }}",
              "type": "string"
            },
            {
              "id": "4d31ecb6-8360-4a0a-8053-ace73e74ebf9",
              "name": "Apellido",
              "value": "={{ $json.body.firstLastName }}",
              "type": "string"
            },
            {
              "id": "167c18c8-3737-474a-b378-95dba7b595b1",
              "name": "Email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "ac2832b1-70cd-4a05-bd34-be7f817fd472",
              "name": "Teléfono",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "0cf52278-29a5-4128-8d4a-255048cad632",
              "name": "Descripción",
              "value": "={{ $json.body.description }}",
              "type": "string"
            },
            {
              "id": "04f61231-f986-4c43-8ea2-df558939168f",
              "name": "Dirección",
              "value": "={{ $json.body['dirección'] }}",
              "type": "string"
            },
            {
              "id": "bf9a85c1-390e-4a36-8087-e11c4729566d",
              "name": "Latitud",
              "value": "={{ $json.body.latitude }}",
              "type": "string"
            },
            {
              "id": "b1c8208b-c5f0-4f9a-b944-f698f0045eeb",
              "name": "Longitud",
              "value": "={{ $json.body.longitude }}",
              "type": "string"
            },
            {
              "id": "288c95d8-9da0-4cbd-b305-d5821e1fee6e",
              "name": "Categoría",
              "value": "={{ $json.Categoria }}",
              "type": "string"
            },
            {
              "id": "4c4b8cfc-897d-4157-9b71-664e610e0059",
              "name": "Prioridad",
              "value": "={{ $json.Prioridad }}",
              "type": "string"
            },
            {
              "id": "677ddee2-2f30-4e36-b174-f6b77e500b42",
              "name": "Confianza",
              "value": "={{ $json.Confianza }}",
              "type": "number"
            },
            {
              "id": "f4cc09c8-6e21-41f3-bd23-16021d57f48e",
              "name": "Spam",
              "value": "={{ $json.es_spam }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -592
      ],
      "id": "51f0487e-4669-46ad-a879-ce1ab8ecfa06",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener el texto crudo de Gemini\nconst rawText = $input.first().json.output;\n\n// 2. Limpiar los caracteres de markdown (```json y ```)\nconst cleanText = rawText.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n\n// 3. Convertir el texto a un objeto JSON real\nconst parsedJson = JSON.parse(cleanText);\n\n// 4. Retornar el JSON limpio\nreturn { json: parsedJson };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -784
      ],
      "id": "02cba5a1-0ef8-4363-90f1-c934327038d5",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1JKmi6p2tBdasKlr9nXp_rGqwMQyKspRo0zb7NKJmhZc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ticket  ID",
              "lookupValue": "={{ $json.data['Correo/ID'] }}"
            },
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.data['Correo/ID'] }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        -240
      ],
      "id": "c6cbfabf-1c18-44a9-9dda-1816834f3efc",
      "name": "Get row(s) in sheet1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition_exists",
              "leftValue": "={{ $json['Ticket  ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4adc3b76-a995-4449-bf38-e4f56a4e7ce2",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "d127c85f-b3cb-450f-9f86-602b4953af88",
      "name": "¿Existe ID?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        784,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.message.from.id }}",
        "message": "👋 Hola! Por favor ingresa tu *correo electrónico* o tu *ID de reporte* para consultar el estado de tus reportes:",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Correo/ID",
              "placeholder": "correo@email.com / AMB-2026...",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "96a42c78-81a9-4553-8aef-be916be2b3c3",
      "name": "Pedir info1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -192
      ],
      "webhookId": "ca51b802-2231-4a7a-af8d-0026a5eb5b26"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ No encontramos ningún reporte asociado a ese correo/ID.\n\nVerifica que el correo sea correcto o contacta a soporte.",
        "additionalFields": {}
      },
      "id": "573ea841-1f24-47f0-9ffe-cd12cc4de5ea",
      "name": "No encontrado1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        -144
      ],
      "webhookId": "c390c667-cdd1-41ba-b645-dc8ff8bb32bb"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst reports = items.map(item => item.json);\n\nif (reports.length === 0) {\n  return [{ \n    json: { \n      message: \"❌ No se encontraron reportes asociados a ese ID.\" \n    } \n  }];\n}\n\nlet response = \"📋 *ESTADO DEL REPORTE*\\n\\n\";\n\nreports.forEach(report => {\n  // Ajusta estos nombres según tus columnas exactas en Google Sheets\n  const ticket = $input.first().json['Ticket  ID'] || report.ticket_id || \"N/A\";\n  const tipoDaño = $input.first().json['Categoría'] || report.tipo_daño || \"N/A\";\n  const severidad = $input.first().json.Prioridad || report.severidad || \"N/A\";\n  const estado = $input.first().json['Estado Actual'] || report.estado || \"N/A\";\n  const ubicacion = $input.first().json['Dirección'] || report.ubicacion || \"N/A\";\n  \n  response += `🎟 *Ticket:* ${ticket}\\n`;\n  response += `📍 *Ubicación:* ${ubicacion}\\n`;\n  response += `⚠️ *Daño:* ${tipoDaño}\\n`;\n  response += `🔴 *Severidad:* ${severidad}\\n`;\n  response += `🔄 *Estado:* ${estado}\\n\\n`;\n});\n\nreturn [{ \n  json: { \n    message: response,\n    reportData: reports[0] // Mantiene los datos originales si los necesitas después\n  } \n}];"
      },
      "id": "7a6b2134-d8c1-4939-89ed-308d87cbea46",
      "name": "Organizar estado1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea33a3b3-5488-416d-8066-26deb5887bc1",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1680,
        -592
      ],
      "id": "0e3a7d92-f7d7-4fe8-a8c7-966e2b14914d",
      "name": "If1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        864,
        256
      ],
      "id": "2f784cee-de81-4829-8a3a-33970ac2eeb1",
      "name": "Dashboard1",
      "webhookId": "2fe47d52-e2e0-45a0-8f85-2c86f4278cd9"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1JKmi6p2tBdasKlr9nXp_rGqwMQyKspRo0zb7NKJmhZc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ticket  ID",
              "lookupValue": "={{ $json.body.caseId }}"
            },
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        352
      ],
      "id": "0e389130-279d-4f4a-8d3f-4942eca4e26d",
      "name": "Get row(s) in sheet3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1728,
        368
      ],
      "id": "c57b47fd-6d5d-4713-84b3-81727ef2ae7e",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "683e98d0-8475-4ca8-883a-173a15ce453c",
              "name": "caseId",
              "value": "={{ $json['Ticket  ID'] }}",
              "type": "string"
            },
            {
              "id": "06ef9006-0a78-465e-aac9-f31bbbf71f92",
              "name": "Nombre",
              "value": "={{ $json.Nombre }}",
              "type": "string"
            },
            {
              "id": "003d38aa-cf4b-46b5-a855-22d974aa048a",
              "name": "Apellido",
              "value": "={{ $json.Apellido }}",
              "type": "string"
            },
            {
              "id": "630ede63-2109-4af7-bf2c-a21f03217660",
              "name": "Descripción",
              "value": "={{ $json['Descripción'] }}",
              "type": "string"
            },
            {
              "id": "e230c122-a8d4-45d6-b041-3d31d51d5d9a",
              "name": "Categoría",
              "value": "={{ $json['Categoría'] }}",
              "type": "string"
            },
            {
              "id": "3e56f3c4-e956-49a2-b317-ae423476f861",
              "name": "Prioridad",
              "value": "={{ $json.Prioridad }}",
              "type": "string"
            },
            {
              "id": "28102a11-c49a-4332-af8e-a75d02ccf54f",
              "name": "Latitud",
              "value": "={{ $json.Latitud }}",
              "type": "number"
            },
            {
              "id": "f510e5f8-9a24-467c-9db4-1113f6d509d5",
              "name": "Longitud",
              "value": "={{ $json.Longitud }}",
              "type": "number"
            },
            {
              "id": "9e5751d2-3165-4544-8755-60abff303817",
              "name": "Confianza",
              "value": "={{ $json.Confianza }}",
              "type": "number"
            },
            {
              "id": "426d26b6-82a1-41da-9cbe-dfe9e3ab0c9f",
              "name": "status",
              "value": "={{ $json['Estado Actual'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        368
      ],
      "id": "f90b73fe-0439-4f36-880e-46c3d271e0df",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "179ba641-7926-4215-9721-ebcf97cf2a46",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "actualizar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1056,
        224
      ],
      "id": "f03c031e-768f-455a-a9bd-44e7eda1b748",
      "name": "If3"
    },
    {
      "parameters": {
        "chatId": "7832436849",
        "text": "Felicidades! Tu reporte ha sido solucionado exitosamente",
        "replyMarkup": "={{ $json['Teléfono'] }}",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        160
      ],
      "id": "1b7dbe35-810c-4e6e-a4a0-3e2303045e08",
      "name": "Send a text message10",
      "webhookId": "d2ad1f4a-a641-438f-b099-6aff6c968810",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1JKmi6p2tBdasKlr9nXp_rGqwMQyKspRo0zb7NKJmhZc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado Actual": "={{ $json.body.status }}"
          },
          "matchingColumns": [
            "Estado Actual"
          ],
          "schema": [
            {
              "id": "Ticket  ID",
              "displayName": "Ticket  ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Apellido",
              "displayName": "Apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Latitud",
              "displayName": "Latitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Longitud",
              "displayName": "Longitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Confianza",
              "displayName": "Confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Spam",
              "displayName": "Spam",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado Actual",
              "displayName": "Estado Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        160
      ],
      "id": "e4927dd1-ef3f-48ed-92c7-692e8472596d",
      "name": "Append or update row in sheet2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza esta imagen de infraestructura urbana y sus descripción: \"{{ $json.body.description }}\" \n\nResponde ÚNICAMENTE con JSON:\n{\n\"Categoria\": \"string\",\n\"Prioridad\": \"Crítica\" o \"Moderada\" o \"Baja\",\n\"Confianza\": 0-100,\n\"es_spam\": true/false\n} ",
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        -880
      ],
      "id": "79ad73e8-77b9-4214-bc7b-b3e198295cfd",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "google/gemma-4-31b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        608,
        -720
      ],
      "id": "122edcd4-be0a-4de0-b011-9cfa71c2efd0",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1JKmi6p2tBdasKlr9nXp_rGqwMQyKspRo0zb7NKJmhZc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket  ID": "={{ $json['Ticket ID'] }}",
            "Nombre": "={{ $json.Nombre }}",
            "Apellido": "={{ $json.Apellido }}",
            "Email": "={{ $json.Email }}",
            "Teléfono": "={{ $json['Teléfono'] }}",
            "Descripción": "={{ $json['Descripción'] }}",
            "Latitud": "={{ $json.Latitud }}",
            "Longitud": "={{ $json.Longitud }}",
            "Categoría": "={{ $('Code in JavaScript2').item.json.Categoria }}",
            "Prioridad": "={{ $('Code in JavaScript2').item.json.Prioridad }}",
            "Confianza": "={{ $('Code in JavaScript2').item.json.Confianza }}",
            "Spam": "={{ $('Code in JavaScript2').item.json.es_spam }}",
            "Dirección": "={{ $json['Dirección'] }}"
          },
          "matchingColumns": [
            "Ticket  ID"
          ],
          "schema": [
            {
              "id": "Ticket  ID",
              "displayName": "Ticket  ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Apellido",
              "displayName": "Apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dirección",
              "displayName": "Dirección",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Latitud",
              "displayName": "Latitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Longitud",
              "displayName": "Longitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Confianza",
              "displayName": "Confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spam",
              "displayName": "Spam",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado Actual",
              "displayName": "Estado Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        -592
      ],
      "id": "f719cc95-9ffb-4f1b-a016-3ca25746f4ab",
      "name": "Append row in sheet1"
    },
    {
      "parameters": {
        "chatId": "7832436849",
        "text": "Alerta! Ocurrió un problema al ingresar los datos, verifica y repite el proceso nuevamente",
        "replyMarkup": "={{ $json['Teléfono'] }}",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1888,
        -576
      ],
      "id": "c8f3e36c-4cc5-4ee5-b26e-b38770a23cd8",
      "name": "Send a text message11",
      "webhookId": "d2ad1f4a-a641-438f-b099-6aff6c968810"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        -592
      ],
      "id": "e0e2bbd0-d848-40b5-931e-075fdb3d9f3a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "chatId": "7832436849",
        "text": "Felicidades! Tu reporte ha sido solucionado exitosamente",
        "replyMarkup": "={{ $json['Teléfono'] }}",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1360,
        224
      ],
      "id": "5716429e-294d-49ca-9377-b7519254c8ec",
      "name": "Send a text message13",
      "webhookId": "d2ad1f4a-a641-438f-b099-6aff6c968810",
      "credentials": {
        "telegramApi": {
          "id": "ZcIpGPxdC1ebO8qm",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashboard": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger3": {
      "main": [
        [
          {
            "node": "Pedir info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "¿Existe ID?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe ID?": {
      "main": [
        [
          {
            "node": "Organizar estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir info": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No encontrado": {
      "main": [
        [
          {
            "node": "Pedir info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizar estado": {
      "main": [
        [
          {
            "node": "Mostrar Estado y Preguntar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Pedir info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "¿Existe ID?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe ID?1": {
      "main": [
        [
          {
            "node": "Organizar estado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No encontrado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir info1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No encontrado1": {
      "main": [
        [
          {
            "node": "Pedir info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizar estado1": {
      "main": [
        [
          {
            "node": "Mostrar Estado y Preguntar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a text message9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashboard1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Send a text message10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Edit Fields2": [
      {
        "action": "crear",
        "reportId": "AMB-20260612-7801",
        "submittedAt": "2026-06-12T22:53:27.365Z",
        "status": "pendiente",
        "firstName": "Santiago",
        "firstLastName": "Sarmiento",
        "email": "nuevocorreo@gmail.com",
        "phone": "3156709400",
        "municipality": "Bucaramanga",
        "description": "Hola, buenas tardes.",
        "dirección": "Carrera 18, Granada Sur, Comuna 9 - La Pedregosa, Perímetro Urbano Bucaramanga, Bucaramanga, Metropolitana, Santander, RAP Gran Santander, 680005, Colombia",
        "latitude": "7.097063",
        "longitude": "-73.114155"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df3c7ca3ff03a6c7be00f1ea0db43e1cfe3a635c61074f0b018519d07bdea82e"
  }
}
